-if @banners.count>0
  .row.text-center
    .main_page_slider_container.owl-carousel.owl-theme
      -@banners.each do |banner|
        %div
          =link_to banner.url do
            =image_tag(banner.image.url, {title:banner.name, alt:banner.name})
.row
  -@categories.each do |cat|
    .col-md-3.col-sm-4.col-xs-12.product_item
      .thumbnail.shadow
        .name.text-center
          =link_to cat.name, category_path(cat.path, cat)
        .image.text-center
          =link_to image_tag(cat.image.url(:product_list)), category_path(cat.path, cat) if cat.image

