/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 */


$brand-primary: #419641;
$navbar-default-bg: darken($brand-primary, 10%);
$navbar-default-link-hover-bg: $brand-primary;
$navbar-default-link-color: #fff;
$navbar-default-link-hover-color: #fff;
$navbar-default-link-active-color: #fff;

// @import url(http://fonts.googleapis.com/css?family=Stardos+Stencil:700);

@import "application";

.container-fixed.topbar{
  padding: 0px;
}

.product_item {
  .thumbnail{
    padding-bottom: 0px;
    margin-bottom: 0px;
    .name{
      height: auto;
      padding-bottom: 5px;
    }
  }
}

// .site_title {
//   font: 50px/1.1em "Stardos Stencil";
//   color: white;
//   .small {
//     font: 29px/1.3em "Stardos Stencil";
//   }
// }

.header .contacts{
  font-size: 10pt;
  font-weight: 600;
  a{
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
  }
}

nav.navbar-default{
//   background-color: 
  a{
//     color: #fff;
    font-weight: 600;
    font-size: 1.2em;
  }
}
