/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 */


$brand-primary: #419641;
@import url(http://fonts.googleapis.com/css?family=Stardos+Stencil:700);

@import "application";

.product_item_inner {
  .name{
    height: 70px;
  }
}

.site_title {
  font: 50px/1.1em "Stardos Stencil";
  color: white;
  .small {
    font: 29px/1.3em "Stardos Stencil";
  }
}

