=render '/categories/breadcrumbs'

#content{itemscope:'', itemtype:"http://schema.org/Product"} 
	.row
		.col-sm-4.fly-to-cart
			= render 'products/images'
		.col-sm-8
			%h1{itemprop:"name"}= @product.name
			= render 'products/single_variant_properties', product: @product
			%hr
			.description{itemprop:"description"}= raw @product.description
			-# = render 'products/tabs'       

	=render 'products/variants_table', product: @product

	=render 'products/linked_products', linked: @linked