-unless Settings.disable_cart
	.shopping-cart
		-# .strong Ваша корзина
		%a{href: new_order_path}
			.glyphicon.glyphicon-shopping-cart
			.cart-text
				=t 'cart.count', count: @current_cart.total_count
