%header.header
	.container-fixed.clearfix 
		.articles.pull-left
			%ul
				-Page.in_menu.each do |page|
					%li
						=link_to page.name, page_path(page)
		.search.pull-right
			= render 'search'
	%hr
	.container-fixed
		.row
			.col-xs-5
				.row
					.col-xs-4
						=link_to root_path do
							=image_tag 'logo_mama40.png', class: 'logo'
					.col-xs-8
						.title Все для мам
						.mama-contacts.pull-left 
							%strong
								%a{href: 'tel:8 (930) 754-00-54'}8 (930) 754-00-54
						.mama-contacts.pull-right 
							%strong
								%a{href:'mailto:info@mama40.ru'} info@mama40.ru
			-# .col-xs-3
			-# 	.strong Интернет магазин
			-# 	Закажите в интернет-магазине с доставкой на дом все, что хотите примерить. Оплатите только то, что подходит и нравиться!       
			-# .col-sm-3
			-# 	.strong Розничный магазин
			-# 	.address г. Калуга, ул. Московская, д. 24
			-# 	.timetable Пн-Пт 10:00 - 19:00
			-# 	.timetable Сб-Вс 10:00 - 17:00
			-#  .strong 8 (4842) 40-00-54
			-# %a{href: 'http://vk.com/mama40ru', target: '_blank'}
			-# 	=image_tag 'vk.png', class: 'social'
			-# %a{href: 'http://www.odnoklassniki.ru/group/53949983948820', target: '_blank'}
			-# 	=image_tag 'ok.png', class: 'social'
			.col-sm-5
				.row
					.col-sm-3.col-sm-offset-2.header-icon
						%a{href: '/pages/4'}
							=image_tag('delivery.png')
							.text Доставка по России
					.col-sm-3.header-icon
						%a{href: '/pages/5'}
							=image_tag('money.png')
							.text Способы оплаты
					.col-sm-3.header-icon
						%a{href: '/pages/6'}
							=image_tag('discount.png')
							.text Дисконтная программа
			-# .col-sm-2
			-# 	.strong 8 (930) 754-00-54
			-# 	info@mama40.ru
				
			.col-sm-2
				= render 'cart'
			-# .col-sm-3
			-#   = render 'search'
			-#   .contacts
			-#     =raw Settings.contacts

-# .scroller_anchor
.scroller
	.container-fixed.topbar
		%nav.navbar-default.text-center
			.navbar-header.navbar-right
				%button.navbar-toggle.collapsed{data: {toggle:"collapse", target:"#bs-example-navbar-collapse-1"}, type: "button"}
					%span.sr-only Toggle navigation
					%span.icon-bar
					%span.icon-bar
					%span.icon-bar

			.collapse.navbar-collapse#bs-example-navbar-collapse-1
				%ul.nav.navbar-nav
					-# %li
					-#   %a{href: root_path}
					-#     .glyphicon.glyphicon-home
					-#     %span &nbsp;
					-#     %span.hidden-sm.shown-xs Главная

					-# %li.nav-divider{role: :separator}
					-Category.root.enabled.each_with_index do |cat, i|    
						-if cat.children.enabled.present?
							%li.dropdown
								=link_to cat.name, category_path(cat.path, cat.id), class: 'dropdown-toggle', data: {hover: 'dropdown'}, role: 'button', aria:{haspopup: true, expanded: false}
								%ul.dropdown-menu{class: (cat.children.enabled.count>7) ? 'dropdown-menu-columns' : ''}
									-cat.children.enabled.each do |subcat|
										%li
											=link_to subcat.name, category_path(subcat.path, subcat.id)
											-if subcat.children.enabled.present?
												%ul.level-3
													-subcat.children.enabled.each do |subcat2|
														%li= link_to subcat2.name, category_path(subcat2.path, subcat2.id)
						-else
							%li= link_to cat.name, category_path(cat.path, cat.id)
						-if i<Category.root.enabled.count-1
							%li.divider-vertical
		