%header.header
	-# .container-fixed.clearfix 
	.container-fixed.second
		=link_to root_path do
			=image_tag 'logo_mama40.png', class: 'logo pull-left'
		.title-block.pull-left
			.title.secondary-color Все для мам
			.description.secondary-color Одежда для беременных и кормящих, слинги
		.mama-contacts.secondary-color.pull-left 
			.strong
				%a{href: 'tel:8 (930) 754-00-54'}8 (930) 754-00-54
			.strong
				%a{href:'mailto:info@mama40.ru'} info@mama40.ru
			.strong
				%a.btn.btn-default#call Заказать обратный звонок
		.shopping-cart.pull-right
			-# .strong Ваша корзина
			%a{href: new_order_path}
				.glyphicon.glyphicon-shopping-cart.secondary-color
				.cart-text.secondary-color
					=t 'cart.count', count: @current_cart.total_count

-# .scroller_anchor
.scroller
	.container-fixed.topbar
		%nav.navbar-default.text-center
			.navbar-header.navbar-right
				%button.navbar-toggle.collapsed{data: {toggle:"collapse", target:"#bs-example-navbar-collapse-1"}, type: "button"}
					%span.sr-only Toggle navigation
					%span.icon-bar
					%span.icon-bar
					%span.icon-bar

			.collapse.navbar-collapse#bs-example-navbar-collapse-1
				%ul.nav.navbar-nav
					-# %li
					-#   %a{href: root_path}
					-#     .glyphicon.glyphicon-home
					-#     %span &nbsp;
					-#     %span.hidden-sm.shown-xs Главная

					-# %li.nav-divider{role: :separator}
					-Category.root.enabled.each_with_index do |cat, i|    
						-if cat.children.enabled.present?
							%li.dropdown
								=link_to cat.name, category_path(cat.path, cat.id), class: 'dropdown-toggle first-level', data: {hover: 'dropdown'}, role: 'button', aria:{haspopup: true, expanded: false}
								%ul.dropdown-menu{class: (cat.children.enabled.count>7) ? 'dropdown-menu-columns' : ''}
									-cat.children.enabled.each do |subcat|
										%li
											=link_to subcat.name, category_path(subcat.path, subcat.id)
											-if subcat.children.enabled.present?
												%ul.level-3
													-subcat.children.enabled.each do |subcat2|
														%li= link_to subcat2.name, category_path(subcat2.path, subcat2.id)
						-else
							%li= link_to cat.name, category_path(cat.path, cat.id), class: 'first-level'
						-if i<Category.root.enabled.count-1
							%li.divider-vertical
				.articles-line							
					%ul.nav.navbar-nav
						-Page.in_menu.each do |page|
							%li
								=link_to page_path(page) do 
									-if page.image.present?
										%img.icon{src: page.image.url}
									=page.name

					=form_tag catalog_search_path, method: 'get', id: 'search_form', role: 'search', class: "navbar-form navbar-right" do
						.input-group
							%input.form-control{type:"text", placeholder:"Поиск", name: "text"}
							%span.input-group-btn.input-group-sm
								%button.btn.btn-default.btn.xs{type: 'submit'}
									%span.glyphicon.glyphicon-search


		