.col-sm-6.col-xs-12.product_item.fly-to-cart
  .thumbnail
    .name.text-center
      =link_to product_path(product, category) do
        =product.name      
    .row
      .row-same-height
        .col-sm-5.col-sm-height
          -if product.images.first
            =link_to product_path(product, category) do
              =image_tag(product.images.first.image.url(:product_list), class: 'image')
          -else
            =link_to product_path(product, category) do
              =image_tag("product_list_no_photo_#{Settings.theme}.png", class: 'image')
        .col-sm-7.col-sm-height.col-middle
          .description.small= raw product.description
          .old_price.text-center
            =raw product.old_price_str
          .price.text-center
            =raw product.price_str
          .text-center
            =render 'product_list_add_to_cart', product: product, category: category