/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 */


$brand-primary: #7F45AF;
$navbar-default-bg: $brand-primary;
// $navbar-default-bg: darken($brand-primary, 10%);
$navbar-default-link-hover-bg: darken($brand-primary, 10%);
$navbar-default-link-color: #fff;
$navbar-default-link-hover-color: #fff;
$navbar-default-link-active-color: #fff;

$screen-md-min: 475px;


@import "application";


.header-icon{
  text-align: center;
  .text{
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    padding-top: 5px;
  }
  img{
    width: 70%;
  }
}
.container-fixed {
    max-width: 1024px;
}

.header,.footer{
  .container-fixed{
    padding-top: 1px;
    padding-bottom: 0;
  }
  color: #000;
  background-color: #fff;
  text-align: justify;
  font-size: 12px;
  .logo{
    width: 80%;
  }
  .footer-articles{
    list-style: none;
    margin-left: 10px;
    padding-left: 0px;
  }
  .footer-cats{
    -moz-column-count: 3;
    column-count: 3;
    list-style: none;
    margin: 0;
    li{
      a{
        color: #000;
      }
      page-break-inside: avoid;      
      ul{
        list-style: none;
        margin-left: 10px;
        padding-left: 0px;
        a{
          color: $brand-primary;
        }
      }
    }
  }
  .social{
    width: 100%;
    padding-top: 5px;
  }
  .articles{
    clear: both;
    ul{
      height: 30px; 
      list-style: none;
      font-size: 14px;
      padding: 0;
      li{
        float: left;
        padding: 15px;
        &:hover{
          background-color: #eee;
        }
        a{
          text-decoration: none;
          cursor: pointer;
        }
      }
    }
  }
  .search{
    margin-top: 7px;
  }
  .shopping-cart{
    text-align: center;
    .glyphicon-shopping-cart{
      font-size: 60px;
      /*float: left;*/
    }
    .cart-text{
      /*font-size: 13px;*/
      /*padding: 4px 10px 0 50px;*/
    }
  }
  hr{
    margin-top: 0px;
  }
  .strong{
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 5px;
  }
}

.navbar-default{
  font-weight: bold;
  border-radius: 5px;
  border: 1px solid rgba(164, 119, 201, 0.7);
  /*overflow: hidden;*/
  background: transparent linear-gradient(to bottom, lighten($brand-primary, 30%) 0%, $brand-primary 100%) repeat-x scroll 0% 0%;
  li{
    a:hover{
      background-color: #fff !important;
      color: $brand-primary !important;
    }
    &:first-child{
      a{
        border-radius: 4px 0 0 4px;
      }
    }
  }
  .divider-vertical {
    height: 50px;
    margin: 0;
    border-right: 1px solid lighten($brand-primary, 30%);
    border-left: 1px solid darken($brand-primary, 0%);
  }
  .navbar-collapse{
    padding: 0px;
  }
  .dropdown-menu{
    li{
      page-break-inside: avoid;
      .level-3{
        list-style: none;
        font-weight: normal;
      }
    }
  }
  .dropdown-menu-columns{
    -moz-column-count: 2;
    column-count: 2;
  }
}


#content{
  .strong{
    float: left;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    padding-right: 10px;
  }
  .block{
    margin-top: 10px;
  }
  .price{
    font-size: 24px;
    color: $brand-primary;
  }
  .size{
    height: 60px;
    .strong{
      padding: 5px 10px 5px 0;
      float: none;
    }
    ul{
      list-style: none;
      li{
        float: left;
        padding: 5px 7px;
        border-radius: 5px;
        cursor: pointer;
        &.active{
          background-color: $brand-primary;
          color: #fff;
        }        
      }
    }
  }
  .description{
    .strong{
      float: none;
    }
  }
}

h1.category_name{
  text-transform: uppercase;
  font-size: 18px;
  margin: 0;
}


.product_item_outer{
  padding: 0;
}

.product_item{
  border: 1px solid lighten($brand-primary, 30%);
  margin: 2px;
  &:hover{
    border: 1px solid $brand-primary;
  }
  .image{
    width: 100%;
/*    padding-bottom: 100px;
    margin-bottom: 0px;
*/  }
  .name{
/*    position: absolute;
    bottom: 70px;
*/    width: 100%;

    a{
      color: #000;
    }    
  }
  .price_block{
      position: static; 
      bottom: 5px;
      width: 100%;
      margin-bottom: 3px;   
  }

  .old_price{
    color:red;  
    font-weight: bold;
    font-size: 24px;
    text-decoration:line-through;
  }

  .price{
    color: $brand-primary;
    font-weight: bold;
    font-size: 24px;
   }
}



.price-block{
  height: 36px;
  .pull-left{
    padding: 5px;
  }
}
.min-price,.max-price{
  width: 65px;
  float: left;
}


.filter-param{
  /*cursor: pointer;*/
  /*border-bottom: 1px dashed $brand-primary;*/
  text-transform: uppercase;
  /*color: $brand-primary;*/
  /*display: inline-block;*/
  font-weight: bold;
  padding-bottom: 10px;
}

.btn-group{
  padding-bottom: 3px;
  .active{
    background-color: $brand-primary;
    color: #fff;
  }
}
