#main
  = render 'blogo/posts/post'
  .ya-share2{:'data-services' => "vkontakte,facebook,odnoklassniki,gplus,twitter"}
  #vk_comments
  :javascript
    VK.Widgets.Comments("vk_comments", {limit: 10, attach: "*"});