.panel.panel-default
	.panel-heading
		.row.order-header
			.col-sm-4.text-center
				%h2 Корзина
			.col-sm-4.text-center
				%h2.disabled Оформление
			.col-sm-4.text-center
				%h2.disabled Оплата
	-if @current_cart.cart_items.count>0
		%table.table.cart
			-@current_cart.cart_items.all.each do |item|
				%tr
					= form_for item, method:'patch' do |f|
						%td
							=link_to product_path(item.product) do
								=image_tag item.product.main_image_url(:thumb), class: 'img_thumb'
						%td
							-if item.variant.name && item.variant.name!=''
								=link_to item.variant.name, product_path(item.product)
							-else
								=link_to item.product.name, product_path(item.product)
							%br
							%small
								Артикул:
								=item.variant.sku
						%td
							%small.price
								=raw item.variant.price_str
						%td
							.input-group.input-group-sm#quantity
								=f.text_field :quantity, class:'form-control'
								%span.input-group-btn
									%button.btn.btn-xs{type:'submit'}
										%span.glyphicon.glyphicon-refresh
						%td
							%small.price
								=raw item.variant.price_str(item.quantity)
					%td
						=button_to item, :method => :delete, class:'btn btn-danger btn-xs' do
							%span.glyphicon.glyphicon-trash
							Удалить
			%tr
				%td{colspan:4}
					.pull-right
						Итог:
				%td.price
					=@current_cart.total_price_str
				%td

	.panel-footer
		%a.btn.btn-primary.pull-right{href: order_checkout_path} Оформить заказ >>
		.clearfix