/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 */

$body-bg: #F8F8F8;

@import "bootstrap";
@import "pages";
@import "products";
@import "categories";
@import "fancybox";
@import "jquery-ui";
@import "select2";
@import "select2-bootstrap";

 /* Custom container */
.container-fixed {
  margin: 0 auto;
  max-width: 980px;
}

.navbar{
  margin-bottom:0px;
}

.contenet{
	background-color: #fff;	
}

.filter-form{
	margin: 20px 0px;
}


.sidebar {
	padding: 0px;
	li {
	    border-bottom: 1px solid #E7E7E7;
	}
}

.names{
	.actions{
		min-width: 220px;
	}

	.price{
		min-width: 170px;
	}
}
// html,body {
//     margin:0;
//     padding:0;
//     height:100%; /* needed for container min-height */
// }

// .container-fluid{
//     height:auto !important; /* real browsers */
//     height:100%; /* IE6: treaded as min-height*/

//     min-height:100%; /* real browsers */
// }