-if @banners.count>0
  .row.text-center
    .main_page_slider_container.owl-carousel.owl-theme
      -@banners.each do |banner|
        %div
          =link_to banner.url do
            =image_tag(banner.image.url, {title:banner.name, alt:banner.name})
.row
  -# -@categories.each do |cat|
  -#   .col-sm-4.col-xs-12.product_item_outer
  -#     .product_item
  -#       .name.text-center
  -#         =link_to cat.name, category_path(cat.path, cat)
  -#       .image.text-center
  -#         =link_to image_tag(cat.image.url(:product_list)), category_path(cat.path, cat) if cat.image
  %h1.category_name Последние поступления
  -@last.each do |product|
    =render "/products/show_item", category: product.categories.first, product: product, :cart_item=>@current_cart.cart_items.new(product_id: product.id, quantity:1), outer_class: 'col-lg-3 col-md-4 col-sm-6 col-xs-12'

-# .panel.panel-default
-#   .panel-body.small
-#     %strong Вас интересуют товары для рыбалки, лодки, палатки или товары для активного отдыха?
-#     %p Все это вы можете купить прямо сейчас, сэкономив уйму времени! Интернет-магазин “Рыболофф” с радостью поможет вам избежать необходимости посещать десятки магазинов. Вы можете заказать любой товар, не вставая со своего кресла, а наш курьер вовремя доставит покупку по указанному адресу. Магазин “Рыболофф” действует на территории всей страны. Вне зависимости от того, где вы находитесь на данный момент, вы сможете заказать товар, что, согласитесь, очень удобно.
-#     %strong Какие же преимущества предлагает наш интернет-магазин товаров для рыбалки, туризма и отдыха?
-#     %p Наиболее существенный факт – наличие тысяч позиций, которые гарантированно имеются на складе. Вы сможете посетить наш интернет магазин и купить любые товары по невысокой цене. 
-#     %strong Вам необходима удочка, палатка или горелка?
-#     %p Интернет магазин товаров для отдыха поможет вам. Наличие множества решений позволит подобрать товар с требуемыми характеристиками и стоимостью. Интернет-магазин техники “Рыболофф” – это многообразие предложений на любой вкус. Чтобы заказать товар, вам не придется никуда ехать или идти, т.к. все операции совершаются в виртуальном режиме. Именно поэтому “Рыболофф” – это магазин товаров для рыбалки, туризма и отдыха, покупать в котором выгодно и приятно.