=link_to 'Обратный звонок', "#", class:'callback-btn', 'data-toggle'=>"modal", 'data-target'=>"#callback"
#callback.modal
	.modal-dialog
		.modal-content
			=form_tag('/callback', remote: true, id: 'callback-form') do
				.modal-header
					%button.close{ "data-dismiss"=>"modal", "aria-hidden"=>"true"}
						&times;
					%h4.modal-title Заказ обратного звонка
				.modal-body
					.row
						.col-md-12
							.form-group
								%label.control-label Номер телефона
								=text_field_tag :phone #, nil, class:'form-control input-block-level'
				.modal-footer
					Нажимая на кнопку "Заказать звонок", вы даете согласие на 
					%a{href: '/pages/10'} обработку своих персональных данных
					%button.btn{"data-dismiss"=>"modal", "aria-hidden"=>"true"} Отменить
					%button.btn.btn-primary{type:'submit'} Заказать звонок
#callback-success.modal
	.modal-dialog
		.modal-content
			.modal-header
				%button.close{ "data-dismiss"=>"modal", "aria-hidden"=>"true"}
					&times;
			.modal-body
				%h2 Заявка принята, ждите звонка
			.modal-footer
				%button.btn{"data-dismiss"=>"modal", "aria-hidden"=>"true"}
					Закрыть
