-if product.sku['expert']
  -thumb=:expertfisher_product_list
  -div_class='col-md-4 col-sm-6 col-xs-12 product_item'
-else  
  -thumb=:product_list
  -div_class='col-md-4 col-sm-6 col-xs-12 product_item'

%div{class: div_class}
  =link_to product_path(product, category) do
    .thumbnail.product_item_inner
      .name.text-center
        =product.name      
      -if product.images.first
        =image_tag(product.images.first.image.url(thumb), class: 'image')
      -else
        =image_tag('product_list_no_photo.png', class: 'image')
      .old_price.text-center
        =raw product.old_price_str
      .price.text-center
        =raw product.price_str

-#<div class="price" style="margin-top:-7px;margin-bottom:-5px;">
-#<span class="price-old"><?php echo $product['price']; ?></span><br/><span class="price-new"><?php echo $product['special']; ?></span>
