=render '/categories/breadcrumbs'

#content{itemscope:'', itemtype:"http://schema.org/Product"} 
  %h1{itemprop:"name"}= @product.name
  .row.fly-to-cart
    -if @product.sku['expertfisher_']
      .expertfisher_productimages_slider_container.owl-carousel.owl-theme.col-sm-12
        -@product.images.each do |img|
            =image_tag(img.image.url(:expertfisher), {itemprop:"image", title:@product.name, alt:@product.name})
      = render 'products/single_variant_properties', product: @product
    -else
      .main-img.col-sm-5
        = render 'products/images'
      .col-sm-7= render 'products/single_variant_properties', product: @product
  =render 'products/tabs'
       
  =render 'products/variants_table', product: @product

  =render 'products/linked_products', linked: @linked
