%header.header
  .container-fixed
    .row
      .col-sm-9
        =link_to root_path do
          =image_tag 'logo_sling.png', class: 'logo'
      .col-sm-3
        = render 'search'
        .contacts
          =raw Settings.contacts
=render 'menu'